In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
orders = pd.read_csv("DataSet/olist_orders_dataset.csv" 
                     , parse_dates=[
                         'order_purchase_timestamp', 
                         'order_approved_at',
                         'order_delivered_carrier_date',
                         'order_delivered_customer_date',
                         'order_estimated_delivery_date'
                     ])

In [3]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [4]:
orders['order_status'].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [5]:
orders['total_delivery_time'] = orders['order_delivered_customer_date'] - orders['order_purchase_timestamp']
orders['estimated_delivery_time'] = orders['order_estimated_delivery_date'] - orders['order_purchase_timestamp']
orders['wait_approve_time'] = orders['order_approved_at'] - orders['order_purchase_timestamp']
orders['seller_to_logistic_time'] = orders['order_delivered_carrier_date'] - orders['order_approved_at']
orders['logistic_to_customer_time'] = orders['order_delivered_customer_date'] - orders['order_delivered_carrier_date']

orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,total_delivery_time,estimated_delivery_time,wait_approve_time,seller_to_logistic_time,logistic_to_customer_time
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8 days 10:28:40,15 days 13:03:27,0 days 00:10:42,2 days 08:47:45,6 days 01:30:13
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,13 days 18:46:08,19 days 03:18:23,1 days 06:42:50,0 days 11:06:33,12 days 00:56:45
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9 days 09:27:40,26 days 15:21:11,0 days 00:16:34,0 days 04:54:37,9 days 04:16:29
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,13 days 05:00:36,26 days 04:31:54,0 days 00:17:53,3 days 17:54:00,9 days 10:48:43
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2 days 20:58:23,12 days 02:41:21,0 days 01:01:50,0 days 21:26:05,1 days 22:30:28

In [6]:
orders['total_delivery_time'].dt.days

0         8.0
1        13.0
2         9.0
3        13.0
4         2.0
         ...
99436     8.0
99437    22.0
99438    24.0
99439    17.0
99440     7.0
Name: total_delivery_time, Length: 99441, dtype: float64

In [7]:
total_hours = orders['total_delivery_time'].dt.total_seconds() / 3600.0
total_hours.head()

0    202.477778
1    330.768889
2    225.461111
3    317.010000
4     68.973056
Name: total_delivery_time, dtype: float64

In [8]:
def save_file(df, filename):
    now = datetime.now()

    # 2. Format it (YYYY-MM-DD_HH-MM-SS)
    # %Y = Year, %m = Month, %d = Day, %H = Hour, %M = Minute, %S = Second
    timestamp = now.strftime("%Y-%m-%d_%H-%M-%S")

    fname = f"DataSet/{filename}_{timestamp}.csv"
    df.to_csv(fname, index=False)

In [9]:
save_file(orders, "orders")