In [2]:
import pandas as pd

# for drawing map
import geopandas as gpd
import matplotlib.pyplot as plt

In [3]:
geo = pd.read_csv("DataSet/olist_geolocation_dataset.csv")

# Display the first few rows
geo.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

Brazil use 8 digit zip_code system. But, here 1 digit for major postal region, and 2-5 digit for sub_region, sector, sub_sector. But, upon checking the first few rows, I see only four digit in zip_code column. I check to see the distribution of length of zip_code in dataset.

In [4]:
geo["zip_code_length"] = geo["geolocation_zip_code_prefix"].astype(str).str.len()
geo["zip_code_length"].value_counts()

zip_code_length
5    754430
4    245733
Name: count, dtype: int64

In [5]:
# Load the Stack Overflow survey data
customers = pd.read_csv("DataSet/olist_customers_dataset.csv")

# Display the first few rows
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
cust_city = customers.groupby('customer_city')['customer_unique_id'].nunique().reset_index()
cust_city.columns = ['city', 'unique_customer_count']

https://www.kaggle.com/datasets/thiagobodruk/brazil-geojson

### Checking Data Integrity

checking if `customer_state` column from **customers**, and `id` column from **geometry** is ready for join operations

In [40]:
customer_state =  customers[['customer_state']].drop_duplicates()
customer_state.set_index('customer_state', inplace = True)
customer_state
customer_state['label'] = 'cs'
customer_state

               label
customer_state
SP                cs
SC                cs
MG                cs
PR                cs
RJ                cs
RS                cs
PA                cs
GO                cs
ES                cs
BA                cs
MA                cs
MS                cs
CE                cs
DF                cs
RN                cs
PE                cs
MT                cs
AM                cs
AP                cs
AL                cs
RO                cs
PB                cs
TO                cs
PI                cs
AC                cs
SE                cs
RR                cs

In [13]:
geometry = gpd.read_file("DataSet/brazil_geo.json")

In [15]:
geometry.columns

Index(['id', 'name', 'geometry'], dtype='object')

In [42]:
geometry_state =  geometry[['id']].copy()
geometry_state.set_index('id', inplace = True)
geometry_state['label'] = 'gs'
geometry_state

   label
id
AC    gs
AL    gs
AP    gs
AM    gs
BA    gs
CE    gs
DF    gs
ES    gs
GO    gs
MA    gs
MT    gs
MS    gs
MG    gs
PA    gs
PB    gs
PR    gs
PE    gs
PI    gs
RJ    gs
RN    gs
RS    gs
RO    gs
RR    gs
SC    gs
SP    gs
SE    gs
TO    gs

In [43]:
df_concat = pd.concat([customer_state, geometry_state], axis=1)
df_concat

   label label
SP    cs    gs
SC    cs    gs
MG    cs    gs
PR    cs    gs
RJ    cs    gs
RS    cs    gs
PA    cs    gs
GO    cs    gs
ES    cs    gs
BA    cs    gs
MA    cs    gs
MS    cs    gs
CE    cs    gs
DF    cs    gs
RN    cs    gs
PE    cs    gs
MT    cs    gs
AM    cs    gs
AP    cs    gs
AL    cs    gs
RO    cs    gs
PB    cs    gs
TO    cs    gs
PI    cs    gs
AC    cs    gs
SE    cs    gs
RR    cs    gs