### Delivery Time Geolocation

According to previous analysis, the average delivery time differs base on states.

However, there are extremely late deliveries regardless of states. 

In this analysis, we'll try to find fault beyond pinning it to states. I'll try to find which municiplities suffer more than other or not.
If some municiplities are worse than the others, I'll try to find the behaviour in it.

In [14]:
import pandas as pd
import h3

from utils import read_customer_seller

In [2]:
dataset = read_customer_seller()
dataset.head()

,order_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,cus_state,cus_lat,cus_lng,seller_state,seller_lat,seller_lng
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,SP,-23.574809,-46.587471,SP,-23.680114,-46.452454
1,53cdb2fc8bc7dce0b6741e2150273451,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,BA,-12.169860,-44.988369,SP,-19.810119,-43.984727
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,GO,-16.746337,-48.514624,SP,-21.362358,-48.232976
3,949d5b44dbf5de918fe9c16f97b45f8a,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,RN,-5.767733,-35.275467,MG,-19.840168,-43.923299
4,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,SP,-23.675037,-46.524784,SP,-23.551707,-46.260979

In [9]:
df = dataset[['cus_state', 'seller_state']].copy()
df['total_days'] = (dataset['order_delivered_customer_date'] - dataset['order_purchase_timestamp']).dt.days

In [10]:

# Calculate Distance
df['dist'] = dataset.apply(lambda row: h3.great_circle_distance((row['cus_lat'], row['cus_lng']), (row['seller_lat'], row['seller_lng'])), axis=1)

df.head()

  cus_state seller_state  total_days         dist
0        SP           SP         8.0    18.063857
1        BA           SP        13.0   856.293545
2        GO           SP         9.0   514.130912
3        RN           MG        13.0  1822.802420
4        SP           SP         2.0    30.174071

In [13]:
df[['total_days', 'dist']].corr()

            total_days      dist
total_days    1.000000  0.392887
dist          0.392887  1.000000