# Olist | Market Analysis Project

I am going to perform Mapping and Spatial Analysis to identify "under-served" regions where delivery times are high but customer density is growing.
I'll also perform Market Basket Analysis to see which products are frequently bought together.

## The Challenge
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel vulputate nunc. Aenean elementum, metus ut interdum sodales, est orci semper sem, vitae scelerisque justo diam nec arcu. Aenean molestie pellentesque velit in vulputate. Aenean accumsan accumsan neque, ut tempor massa ornare pharetra. Aenean at suscipit nunc. Integer accumsan dignissim leo eget tincidunt. Fusce tempor facilisis risus.

Morbi eleifend justo luctus tristique dignissim. Vivamus iaculis posuere luctus. In sit amet lorem consequat, fermentum nibh aliquam, convallis mauris. In in

## 1. Problem Understanding and Defination
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel vulputate nunc. Aenean elementum, metus ut interdum sodales, est orci semper sem, vitae scelerisque justo diam nec arcu. Aenean molestie pellentesque velit in vulputate. Aenean accumsan accumsan neque, ut tempor massa ornare pharetra. Aenean at suscipit nunc. Integer accumsan dignissim leo eget tincidunt. Fusce tempor facilisis risus.

Morbi eleifend justo luctus tristique dignissim. Vivamus iaculis posuere luctus. In sit amet lorem consequat, fermentum nibh aliquam, convallis mauris. In in

Selection deleted

## 2. Data Collection and Preparation
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel vulputate nunc. Aenean elementum, metus ut interdum sodales, est orci semper sem, vitae scelerisque justo diam nec arcu. 

My favorite search engine is [Kaggle Dataset](https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce/data).

### 2.1 Import Necessary Libaries and Load the Dataset.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import colors

In [3]:
# Load the Stack Overflow survey data
geo = pd.read_csv("DataSet/olist_geolocation_dataset.csv")

# Display the first few rows
geo.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [15]:
df_orders.isnull().any()

order_id                         False
customer_id                      False
order_status                     False
order_purchase_timestamp         False
order_approved_at                 True
order_delivered_carrier_date      True
order_delivered_customer_date     True
order_estimated_delivery_date    False
dtype: bool

In [16]:
df_orders['order_status'].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [17]:
df_customers = pd.read_csv("DataSet/olist_customers_dataset.csv")

In [18]:
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [19]:
df_geo = pd.read_csv("DataSet/olist_geolocation_dataset.csv")

In [20]:
df_geo.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP